/* HeroSection.css */

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(90deg, #f2709c, #ff9472, #b993d6, #8ca6db);
  color: white;
  position: relative;
  padding: 2rem;
}
.logo p {
  font-size: 3rem;
  font-weight: bold;
  color:rgb(95, 95, 209);
  text-align:center;
}


.overlay {
  text-align: center;
  padding: 4rem 2rem;
  max-width: 800px;
  margin: auto;
}

.overlay h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.overlay h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.sign-in {
  background-color: rgb(95, 95, 209);
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.sign-in:hover {
  background-color: #b20710;
}
